.container.clear
  .header #{@menu.meal} at #{@menu.location}
  = render 'shared/selection'

.items-container.clear
  - @items.each do |item|
    %a{:href => item_path({:id => item.id, :location => @menu.location, :meal => @menu.meal})}
      .item-container
        .item-image-container
          %img{:src => Image.get_first_image(item), :class => 'img_scaled_wh'}
        .item-text-container
          = item.name
