.container
	.section
		.subheader Admin Users
		- @admin.each do |admin|
			.list-item.clear
				.list-content
					= admin.email
				.list-button 
					= button_to 'Make regular user', update_path(admin.id), {:method => :put, :class => 'list-btn'}
			.list-hr
	.section
		.subheader Regular Users
		- @nonadmin.each do |nonadmin|
			.list-item.clear
				.list-content
					= nonadmin.email
				.list-button
					= button_to 'Make admin', update_path(nonadmin.id), {:method => :put, :class => 'list-btn'}
			.list-hr