.container
	.subheader Admin Users
	- @admin.each do |admin|
		.admin-item.clear
			.admin-email
				= admin.email
			.admin-button 
				= button_to 'Make regular user', update_path(admin.id), {:method => :put, :class => 'admin-btn'}
		.admin-hr
	.regular-section
		.subheader Regular Users
		- @nonadmin.each do |nonadmin|
			.admin-item.clear
				.admin-email
					= nonadmin.email
				.admin-button 
					= button_to 'Make admin', update_path(nonadmin.id), {:method => :put, :class => 'admin-btn'}
			.admin-hr