.container
  .header Disapproved Images
.items-container.clear
  - if @disapproved_images.empty? 
    %div No disapproved images available.
  - else
    - @disapproved_images.each do |image|
      .item-container
        .item-image-container
          = image_tag image.filename, {:class => 'img_scaled_wh'}
        .item-text-container
          .item-text
            .item-icons-container.clear
              = link_to image_tag('check.png', :class => 'admin-icons left'), image_approve_path(image.id), :method => :post 
            = image.item.name
