.container
  .navbar.clear
    = render 'shared/navbar'
  .header Pending Images
.container-big.clear
  - if @pending_images.empty? 
    .notice No pending images. You're all caught up! 
  - else
  - @pending_images.each do |image|
    .item-container
      .item-image-container
        %img{:src => image.filename, :class => 'img_scaled_wh'}
        %span
          =button_to 'Approve', image_approve_path(image.id)
          =button_to 'Disapprove', image_disapprove_path(image.id)
      .item-text-container
        = image.item.name
