.container
  .navbar.clear
    = render 'shared/navbar'
  .header Pending Images
.container-big.clear
  - if @pending_images.empty? 
    .notice No pending images. You're all caught up! 
  - else
  - @pending_images.each do |image|
    .item-container
      .item-image-container
        =image_tag 'app/user_uploads/' + image.filename.to_s
        %span
          =button_to 'Approve', image_approve_path(image.id)
          =button_to 'Disapprove', image_disapprove_path(image.id)
        %img{:src => 'app/user_uploads/' + image.filename.to_s, :height => 200, :width => 225}
      .item-text-container
        = image.item.name
