.container
  .header Pending Images
.items-container.clear
  - if @pending_images.empty? 
    .notice No pending images. You're all caught up! 
  - else
  - @pending_images.each do |image|
    .item-container
      .item-image-container
        = image_tag image.filename, {:class => 'img_scaled_wh'}
      .item-text-container
        .item-icons-container.clear
          = link_to image_tag('check.png', :class => 'admin-icons left'), image_approve_path(image.id), :method => :post 
          = link_to image_tag('cancel.png', :class => 'admin-icons right'), image_disapprove_path(image.id), :method => :post 
        .item-text
          = image.item.name