- if user_signed_in?
  #user_login_box{:style => "float:right"}
    = current_user.email
    = link_to 'My info', edit_user_registration_path
    = link_to 'Sign out', destroy_user_session_path, method: :delete
- else 
  = link_to "Signin", new_user_session_path