.other-location-item {
    background-color: #fff;
    display:inline-block;
    border: 1px solid rgba(0,0,0,.09);
    padding: 10px 20px;
    margin: 0 1px;
    color: rgba(0,0,0,0.3);
    font-weight: 600;
    border-radius: 3px;
    margin: 0 4px;
    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
}

.other-location-item:hover {
    color: rgba(0,0,0,0.8);
}

.other-location-item-container {
	margin-left: 10px;
}

.pretext {
	line-height: 43px;
}

.notice {
    padding: 0 10px;
    font-size: 18px;
}

.nutrition-container {
    max-width: 680px;
    margin-top: 30px;
}

.half {
    width: 50%;
    float: left;
}

.half li {
	color: rgba(0,0,0,0.6);
	font-weight: 400;
	font-size: 16px;
}

.half li span {
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}

.ingredients-container {
	padding: 15px 0;
}

.ingredients-text {
    width: 600px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0,0,0,.6);
}

#upload-button {
    background: #02b875;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    transition: linear 0.1s;
}

.upload-icon {
	width: 25px;
	height: 25px;
}
.upload-text {
}

.availability {
    font-size: 18px;
    line-height: 45px;
    color: #02b875;
    font-weight: 500;
}

.other-location-container {
	padding-top: 20px;
	padding-bottom: 20px;
}